body { background-color: black;
       text-align: center;
}

h1 { font-family: Verdana;
     font-weight: normal;
     font-size: 50px;
     color: white;
   }

a { color: aquamarine;
  }

h2 { font-family: Verdana;
     font-size: 42px;
     font-weight: 300;
     color: white;
}

#around_you { color: gray;
              font-family: Verdana;
              font-size: 21px;
}

#copyright { color: gray;
             font-size: 21px;
             text-align: right;
             }
